.inicio-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5%;
}

.texto-home .boton{
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    width: 12vh;
}

.imagen_home {
    border-radius: 1vh;
}