* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

}

header {
  top: 0;
  left: 0;
  right: 0;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2vh 1.2vh rgba(0, 0, 0, 0.08);
}

header h1 {
  margin-left: 1rem;
}

.lista_header {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}

.lista_header a {
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

footer {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 0.1vh solid black;
}

.info-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  font-size: 120%;
  line-height: 110%;
}

.info-footer ul {
  list-style: none;
  font-size: 75%;
  padding-top: 1vh;
}

.info-footer h3 {
  margin-right: 8%;
  font-size: 140%;
  text-decoration: underline;
  margin-bottom: 1px;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  line-height: 2%;
  width: 50%;
  font-size: 140%;
}

.redesbox {
  display: flex;
  flex-direction: row;
  height: 5rem;
  margin-top: 1vh;
}