<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../../../resources/core/css/main.css">
</head>

<body>

  <header>
    <h1>FlyNow</h1>
    <nav class="menu">
      <ul class="lista_header">
        <li><a href="#">Home</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </header>

  <footer>
    <div class="info-footer">
      <h3 class="fly">FlyNow:</h3>
      <ul>
        <li>Sobre nosotros</li>
        <li>Preguntas frecuentes</li>
        <li>Políticas de privacidad</li>
      </ul>
    </div>
  </footer>

</body>

</html>