<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<header th:replace="~{fragments/layout :: header}"></header>

<main class="main-login ">
    <form class="login-form" id="register-form">

        <label for="usuario">Usuario</label>
        <input id="usuario" type="text" name="usuario" placeholder="Usuario">

        <label for="E-Mail">E-Mail</label>
        <input id="E-Mail" type="email" name="E-Mail" placeholder="E-Mail">

        <label for="DNI">DNI</label>
        <input id="DNI" type="number" name="DNI" placeholder="DNI">

        <label for="contrasena">Contraseña</label>
        <input id="contrasena" type="password" name="contrasena" placeholder="Contraseña">

        <label for="confirmar-contrasena">Confirmar contraseña</label>
        <input id="confirmar-contrasena" type="password" name="confirmar-contrasena" placeholder="Confirmar contraseña">
        <div class="botones">
            <button class="boton" type="submit">Aceptar</button>
            <button class="boton" type="reset">Cancelar</button>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>

</html>